<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>BabyCaring</title>
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/bootstrap5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/main5152.css?ver=1.0" type="text/css" media="all">
     <link rel="stylesheet" id="responsive-css-css" href="/css/responsive5152.css?ver=1.0" type="text/css" media="all">
</head>

<body>

    <!-- header -->
    <div class="header-wrapper">
        <header>
            <div class="container">

                <div class="logo-container">
                    <!-- Website Logo -->
                    <a href="/" title="BabyCaring">
                        <img src="/images/logo.png" alt="BabyCaring">
                    </a>
                    <span class="tag-line">A perfect platform for sharing real life experience</span>
                </div>

                <!--  navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="/">Home</a></li>
                            <li><a href="/login">Ask Question</a></li>
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/register">Register</a></li>
                        </ul>
                    </div>
                    </nav>
                <!--  navigation ends-->
            </div>
        </header>
    </div>
    <!-- header ends -->

    <!-- Search Wrapper -->
    <div class="search-area-wrapper">
        <div class="search-area container">
            <h3 class="search-header">Have Questions About Your Baby?</h3>
            <p class="search-tag-line">Simply search and find real life solutions here!</p>
            <form id="search-form" class="search-form clearfix" method="get" action="#">
                <input class="search-term required" type="text" id="s" name="s"
                    placeholder="Type your questions here for related answers..." title=" enter a search term!"
                    autocomplete="off">
                <input class="search-btn" type="submit" value="Let's go!">
                <div id="search-error-container"></div>
            </form>
        </div>
    </div>
    <!-- Search Wrapper ends -->

    <!-- Start of Page Container -->
    <div class="page-container">
        <div class="container">
            <div class="row">
                <!-- start of page content -->
                <div class="span8 page-content">
                    <article class=" type-post format-standard hentry clearfix">
                        <h2 class="post-title"><%= addedpost.title%></h2>
                        <div class="post-meta clearfix">
                            <span class="date">25 Feb, 2019</span>
                            <span class="comments"><a href="#"
                                    title="Comment"><%= comments.length %>
                                    Comments</a></span>

                            <span id="authorname"><%= addedpost.name %></span></a></span>
                            <a class="btn btn-mini">Solved</a>
                        </div><!-- end of post meta -->
                        <p><%= addedpost.postcontent %></p>
                    </article>

                    <!--comment part-->
                    <section id="comments">
                        <h4 id="comments-title">(<%= comments.length %>)Reply</h4>
                        <ol class="commentlist">
                            <li class="comment even thread-even depth-1" id="li-comment-2">
                                <article id="comment-2">
                                    <% for(var i = comments.length-1; i >=0;i--){ %>
                                    <div class="comment-meta"
                                        style="border: 1px solid pink;padding: 10px;border-radius: 5px;">
                                        <p class="author">
                                            User Name: <a href="" rel="external nofollow"
                                                class="url"><%= comments[i].username %></a>
                                            <!--<a class="comment-reply-link" href="#">Reply</a>-->
                                        </p> 
                                      <p> Content:<%= comments[i].content %></p>
                                        <p class="date">
                                            Time:
                                            <a href="#">
                                                <time> <%= comments[i].created %></time>
                                            </a>
                                        </p>
                                    </div>
                                    <% } %>
                                </article>
                            </li>
                        </ol>

                        <div id="respond">
                            <h4>Leave A Reply</h4>
                            <div class="cancel-comment-reply">
                                <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Click
                                    here to cancel reply.</a>
                            </div>
                            <form action="/post/:id/createcomment" method="post" id="commentform">
                                <div
                                    User Name:
                                    <input type="text" name="username" id="username">
                                    <textarea class="span8" name="content" id="content" cols="58" rows="5"></textarea>
                                </div>
                                <div>
                                    <input class="btn" name="submit" type="submit" id="submit" value="Submit">
                                </div>
                            </form>

                        </div>

                    </section><!-- end of comments -->
                </div>
                <!-- end of page content -->


                <!-- start of sidebar -->
                <aside class="span4 page-sidebar">

                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">Expert</h3>
                            <p class="intro">No solution? If you need help from certified experts , click <a
                                    href="/askexpert">here</a> for consultation.</p>
                        </div>
                    </section>

                    <section class="widget">
                        <div class="quick-links-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul id="menu-quick-links" class="menu clearfix">
                                <li><a href="/">Home</a></li>
                                <li><a href="/login">Ask Question</a></li>
                                <li><a href="/login">Log In</a></li>
                                <li><a href="/register">Register</a></li>

                            </ul>
                        </div>
                    </section>

                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <div class="tagcloud">
                            <a href="#" class="btn btn-mini">Baby Growth</a>
                            <a href="#" class="btn btn-mini">Baby Photo Sharing</a>
                            <a href="#" class="btn btn-mini">Baby Safety</a>
                            <a href="#" class="btn btn-mini">Breastfeeding</a>
                            <a href="#" class="btn btn-mini">Early Childhood Education</a>

                        </div>
                    </section>

                </aside>
                <!-- end of sidebar -->
            </div>
        </div>
    </div>

    <!-- End of Page Container -->

    <!-- Start of Footer -->
    <footer id="footer-wrapper">
        <div id="footer" class="container">
            <div class="row">

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Why BabyCaring?</h3>
                        <div class="textwidget">
                            <p>Instead of drowning yourself into loads of unrelated information, Babycaring gives you an opportunity to simply
                                search for your question by typing key words, and find related questions and answers. </p>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Consultation</h3>
                        <div id="twitter_update_list">
                            <ul>
                                <li>Do you need help from certified experts? Simply click <a
                                    href="/askexpert">here</a> to start your consultation!</li>
                            </ul>
                        </div>

                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <ul>
                            <li><a href="#" title="Baby Growth">Baby Growth</a> </li>
                            <li><a href="#" title="Baby Photo Sharing">Baby Photo Sharing</a></li>
                            <li><a href="#" title="Baby Safety">Baby Safety</a></li>
                            <li><a href="#" title="Breastfeeding">Breastfeeding</a></li>

                        </ul>
                    </section>
                </div>


                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Quick Links</h3>
                        <ul>
                            <li><a href="/" title="Home">Home</a> </li>
                            <li><a href="/login">Ask Question</a></li>
                            <li><a href="/login" title="Log In">Log In</a></li>
                            <li><a href="/register" title="Register">Register</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </div>
        <!-- end of #footer -->

        <!-- Footer Bottom -->
        <div id="footer-bottom-wrapper">
            <div id="footer-bottom" class="container">
                <div class="row">
                    <div class="span6">
                        <p class="copyright">
                            Copyright &copy; 2019.BabyCaring All rights reserved.
                        </p>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- End of Footer Bottom -->

    </footer>
    <!-- End of Footer -->


</body>

</html>